<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Bookmark</title>
</head>
<body style="align-self: center">
	<form action="/addLink" method="post" >
		<div
			style="width: 400px; height: 230px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;border: 2px solid blue;border-radius:5px;">
			<div
				style="text-align: center; border-radius: 5px;margin-top:30px;display:inline-block; ">
				&nbsp;&nbsp;Link<input type="text" name="link" style="width:100px;margin-left:43px;"  />
			</div>
	
			<div
				style="text-align: center; border-radius: 5px;margin-top: 40px;display:inline-block;">
				&nbsp;&nbsp;Tags(comma separated)<input type="text" name="tags" style="width:100px;margin-left:34px;"/>
			</div>
			
			<div style="margin-top:20px;">
				<input type="submit" value="Add Tag" style="position: relative;height: 30px;left: 60px;">
			</div>
		</div>
	</form>
</body>
</html>