<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css" />
<title>FirstVisit</title>
</head>
<body>
	<div id="indxbox">
		<div>
			<a class="btn btn-success" href="/login" type="button">Login</a>
		</div>

		<div style="margin-top:40px;">
			<a class="btn btn-success" href="/signUp" type="button">Register</a>
		</div>
	</div>
</body>
</html>