<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<title>FirstVisit</title>
</head>
<body style="align-self: center">
	<div
		style="width: 100px; height: 100px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;">
		<div
			style="text-align: center; border-radius: 5px; width: 80px; border: 2px solid blue;">
			<a style="text-decoration: none;" href="/login" type="button">Login</a>
		</div>

		<div
			style="text-align: center; border-radius: 5px; width: 80px; border: 2px solid blue; margin-top: 40px;">
			<a style="text-decoration: none;" href="/signUp" type="button">Register</a>
		</div>
	</div>
</body>
</html>