<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css" />
<title>FirstVisit</title>
</head>
<body>
	<div 
		style="width: 100px; height: 100px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;">
		<div>
			<a style="text-decoration: none;" class="btn btn-primary" href="/login" type="button">Login</a>
		</div>

		<div style="margin-top:40px;">
			<a style="text-decoration: none;" class="btn btn-primary" href="/signUp" type="button">Register</a>
		</div>
	</div>
</body>
</html>