<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css" />
<title>ShowMarks</title>
</head>
<body style="align-self: center">
	<a href="/addbookmarks" class="btn btn-warning otherlink">Add Bookmarks</a><a class="btn btn-warning logout" href="/logout">Logout</a>
		<div class="panel panel-default panelstyle" >
			<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<td>Link</td>
						<td>Tags</td>
					</tr>
				</thead>
				<tbody>
					 <%for (var i=0;i<userd.bookmarks.length;i++) {%><tr><td><%=userd.bookmarks[i].link %></td> 
					<td><%for(var j=0;j<userd.bookmarks[i].tags.length;j++){%><%=userd.bookmarks[i].tags[j]%><%}%></td><%}%></tr>
				</tbody>
			</table>
		
		</div>
</body>
</html>