<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<title>ShowMarks</title>
</head>
<body style="align-self: center">
	<a href="/addbookmarks"><div>Add Bookmarks</div></a><a href="/logout"><div>Logout</div></a>
		<div
			style="width: 500px; height: 500px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;border: 2px solid blue;border-radius:5px;">
			<div
				style="text-align: center; border-radius: 5px;margin-top:30px;display:inline-block; ">
				&nbsp;&nbsp;Link<div style="width:100px;margin-left:10px;"> <%for (var i=0;i<userd.bookmarks.length;i++) {%><div><%=userd.bookmarks[i].link %></div><%}%> </div>
			</div>
	
			<div
				style="text-align: center; border-radius: 5px;margin-top: 40px;display:inline-block;">
				&nbsp;&nbsp;Tags<div style="width:100px;margin-left:10px;"> <%for (var i=0;i<userd.bookmarks.length;i++) {%><div><%
	for(var j=0;j<userd.bookmarks[i].tags.length;j++){%><%=userd.bookmarks[i].tags[j]%><%}%></div><%}%></div>
			</div>
			
			<a href="/addbookmarks">
			<div style="margin-top:20px;">
				<input type="button" value="Add Bookmarks" style="position: relative;height: 30px;left: 60px;">
			</div>
			</a>
		</div>
</body>
</html>