<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/stylesheets/style.css" />
<title>Welcome</title>
</head>
<h3>Welcome <%=username.name%></h3>
<body style="align-self: center">
	<a href="/logout" style="text-decoration:none;float:right;" class="btn btn-danger"><div>Logout</div></a>
		<div id="indxbox">
		
			<div 
				style="text-align: center;margin-top:30px; ">
				<a href="/showbookmarks" class="btn btn-warning" style="text-decoration:none;">My Bookmarks</a>
			</div>
	
			<div 
				style="text-align: center; margin-top: 40px;">
				<a href="/addbookmarks" class="btn btn-warning" style="text-decoration:none;">Add Bookmarks</a>
			</div>
			
		</div>
</body>
</html>