<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
</head>
<body style="align-self: center">
		<div
			style="width: 200px; height: 230px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;border: 2px solid blue;border-radius:5px;">
			<div
				style="text-align: center; border-radius: 5px;margin-top:30px;display:inline-block; ">
				<a href="/showbookmarks">My Bookmarks</a>
			</div>
	
			<div
				style="text-align: center; border-radius: 5px;margin-top: 40px;display:inline-block;">
				<a href="/addbookmarks">Add Bookmarks</a>
			</div>
			
		</div>
</body>
</html>