body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 // background-color: #0A124C;
}

a {
  color: #00B7FF;
}

.btn{
	width:180px;
}

#indxbox{
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;
    right: 0;
 	  top: 0;
    bottom: 0;
    margin: auto;
}